/* selects any <p> with class "special" that comes directly after a <h1>, which inside <body>  */
body h1 + p.special{
    color: yellow; 
    background-color: black;
    padding: 5px;
}
#lesson1{
    border: 2px solid black;
    padding: 20px;
}
h1 {
    color: red;
    
}

p, li{
    color: green;
}

li{
    list-style-type: none;
}

li.special{
    color: orange;
    font-weight: bold;
}

span.special{
    color: yellowgreen;
}

li  em{
    color: rebeccapurple;
}

a:link{
    color: pink;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: none; 
}

.outer{
    border: 2px solid black;
    width: 50%; 
    transform: rotate(0.5turn);
}

.box{
    padding: 20px;
    width: calc(100% - 20%); /* ham tinh */
    background-color: rebeccapurple;    
    color: wheat;
    
}

/* new */
p{
    color: red;
}
.special-p{
    color: blue;
}